body {
    background-color: honeydew;
}

h1 {
    color: slategray;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 56px;
}

h2 {
    color: slategray;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h4 {
    color: slategray;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

p {
    color: lightslategray;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 12px;
}

li {
    color:lightslategray;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:13.5px;
}

a {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color:lightslategray;
    font-size: 11.5px;
}

.name {
    font-weight:100;
}

#img.cliff {
    width:300px;
    length:300px;
    image-orientation: center;
}

#img.mermaidcaves {
    width: 100px;
    length: 100px;
    max-width: 1000%;
    height: auto;
}

#img.sunflowers {
 width: 100px;
    length: 100px;
    max-width: 1000%;
    height: auto;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

.row {
    display: flex;
}

.topbox {
    margin-top: 100px;
    margin-bottom: 100px;
}

.sidemargins {
    margin-left: 50px;
    margin-right: 50px;
}

.double {
    border-style: double;
    border-bottom-color: slategray;
}




